.albumArtwork {
    transition: transform .2s;
    margin: 0 auto;
}

.albumArtwork:hover {
  transform: scale(1.15);
}

.item-buttons {
  display: none;
}

.albumArtwork:hover .item-buttons {
  display:block;
  position:absolute;
  top: 15%;
  right: 40%;
}

.jumbotron {
  padding: 20px;
}

#mynav {
  background: rgba(0,0,0,.85);
}

#mynav, .nav-wrapper {
  height:52px;
>>>>>>> navbar now fixes to top on scroll
}

#mynav, .nav-wrapper {
  height:52px;
}
